<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/mapstyle.css" />
    <title>Document</title>
    <script
      type="text/javascript"
      src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=48c6f5e4edb390d377fc3cf7623ea78e"
    ></script>
  </head>
  <body>
    <%- include("nav.html") %>

    <div class="wrap">
      <div class="main-scroll">
        <div class="more-screen">
          <div class="tech-screen">
            <div class="more">
              <h2 class="more_title">contact FIELD</h2>

              <div class="more_info">
                <p>
                  최적화를 확인하기 위해 아래 양식에 맞춰 이메일을 보내주세요
                </p>
              </div>
              <div class="map-wrapper">
                <div id="map" style="width: 800px; height: 500px"></div>
                <div id="clickLatlng"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-screen">
          <div class="footer-info">
            <div class="member">
              <span>장성호</span>
              <span>김채현</span>
              <span>송성혜</span>
              <span>전태림</span>
            </div>
            <div class="location">
              경기도 시흥시 산기대학로 237 한국공학대학교
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/4b3c3b390b.js"
    crossorigin="anonymous"
  ></script>
</html>
