<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="#" class="navbar-logo">졸업작품</a>
      </div>
      <ul class="navbar-menu">
        <div class="navbar_list">
          <li><a href="#">TECH</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">SOLAR MAP</a></li>
          <li><a href="#">SERVICE</a></li>
        </div>
      </ul>
      <div class="navbar-right">
        <button class="new-button">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>
    <div class="main-scroll">
      <div class="main-screen">
        <div class="main_img">
          <img src="/public/bg01 (2).jpg" />
        </div>
        <div class="main_text">
          <div class="main_text_title">
            <h1>Energy service</h1>
          </div>
          <div class="main_text_content">
            <p>태양광 발전량 및 전력 소비 예측을 통한 전기 요금 최소화</p>
          </div>
        </div>
      </div>
      <div class="more-screen">
        <div class="tech-screen">
          <div class="more">
            <a class="more_link" href="#">
              <h2 class="more_title">TECH FIELD</h2>
              <div class="more_icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
            <div class="more_info">
              <p>
                다양한 분야의 연구를 통해 <br />
                새로운 문화를 창조하는 AI CENTER
              </p>
            </div>
            <div class="tech-wrapper">
              <div class="field_item">
                <div class="field_item_bg">
                  <img src="/public/item01.jpg" />
                </div>
                <div class="field_item_title">MARKETING INTELLIGENCE</div>
              </div>
              <div class="field_item">
                <div class="field_item_bg">
                  <img src="/public/item01.jpg" />
                </div>
                <div class="field_item_title">MARKETING INTELLIGENCE</div>
              </div>
              <div class="field_item">
                <div class="field_item_bg">
                  <img src="/public/item01.jpg" />
                </div>
                <div class="field_item_title">MARKETING INTELLIGENCE</div>
              </div>
              <div class="field_item">
                <div class="field_item_bg">
                  <img src="/public/item01.jpg" />
                </div>
                <div class="field_item_title">MARKETING INTELLIGENCE</div>
              </div>
              <div class="field_item">
                <div class="field_item_bg">
                  <img src="/public/item01.jpg" />
                </div>
                <div class="field_item_title">MARKETING INTELLIGENCE</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-screen">
        <div class="about-screen">
          <div class="more">
            <a class="more_link" href="#">
              <h2 class="more_title">ABOUT FIELD</h2>
              <div class="more_icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
            <div class="more_info">
              <p>
                경영학부 캡스톤 맴버 <br />
                데이터사이언스, 프론트엔드, 백엔드, 마케팅까지
              </p>
            </div>
            <div class="about-section">
              <div class="about-list">
                <div class="about-item">
                  <div class="about-item_icon">
                    <i class="fas fa-laugh"></i>
                  </div>
                  <div class="about_itme-info">
                    <div class="about-item_title">SONG SEONG HYE</div>
                    <div class="about-item_sub">Front-end web developer</div>
                  </div>
                </div>
                <div class="about-item">
                  <div class="about-item_icon">
                    <i class="fas fa-laugh"></i>
                  </div>
                  <div class="about_itme-info">
                    <div class="about-item_title">SONG SEONG HYE</div>
                    <div class="about-item_sub">Front-end web developer</div>
                  </div>
                </div>
                <div class="about-item">
                  <div class="about-item_icon">
                    <i class="fas fa-laugh"></i>
                  </div>
                  <div class="about_itme-info">
                    <div class="about-item_title">SONG SEONG HYE</div>
                    <div class="about-item_sub">Front-end web developer</div>
                  </div>
                </div>
                <div class="about-item">
                  <div class="about-item_icon">
                    <i class="fas fa-laugh"></i>
                  </div>
                  <div class="about_itme-info">
                    <div class="about-item_title">SONG SEONG HYE</div>
                    <div class="about-item_sub">Front-end web developer</div>
                  </div>
                </div>
              </div>
              <div class="about-content">
                <div class="content-inner">
                  <div class="content-inner_img">
                    <img src="/public/sh.png" />
                  </div>
                  <div class="content-inner_des">
                    <h4>송성혜</h4>
                    한국공학대학교 경영학전공 <br />
                    프론트엔드 웹 개발<br />
                    node.js, mongodb, express, html, css, javascript 사용
                  </div>
                  <button class="content_more">자세히 보기></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/4b3c3b390b.js"
    crossorigin="anonymous"
  ></script>
</html>
