.main-scroll {
  border-radius: 0px 0px 100px 100px; /* 둥글게 할 반지름 값을 조정해보세요 */
  display: block; /* 블록 요소로 설정 */
  height: 350vh; /* 임시 높이 값 추가 */
  background-color: rgb(157, 179, 238);
}

.main_img {
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.main-screen {
  position: relative;
}

.main_text {
  display: flex;
}

.main_text_title {
  position: absolute; /* 수정: position을 absolute로 변경 */
  top: 40%; /* 수정: 부모 요소의 중간 위치로 설정 */
  left: 50%; /* 수정: 부모 요소의 중간 위치로 설정 */
  transform: translate(
    -50%,
    -50%
  ); /* 수정: 가운데 정렬을 위해 translate 적용 */
  color: white;
  font-size: 80px;
  font-weight: 600;
  white-space: nowrap;
}

.main_text_content {
  position: absolute; /* 수정: position을 absolute로 변경 */
  top: 50%; /* 수정: 부모 요소의 중간 위치로 설정 */
  left: 50%; /* 수정: 부모 요소의 중간 위치로 설정 */
  transform: translate(
    -50%,
    -50%
  ); /* 수정: 가운데 정렬을 위해 translate 적용 */
  color: white;
  font-size: 20px;
  white-space: nowrap;
}
